*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color:rgb(46, 4, 85);
    color: #f2f1f1;
}
.container{
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: rgb(20, 20, 19);
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1{
    margin-bottom: 20px;
    font-style: bold;
    color:rgb(185, 174, 91)
}

.displaytime{
    margin: 20px;
    font-size: 40px;
}


button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 80px;
    background-color: rgb(103, 185, 91);
    color: #fff;
    font-size: 16px;
    font-style: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}
button#startBtn{
    background-color: rgb(4, 114, 32);
}
button:hover#startBtn{
    background-color: rgb(75, 235, 47);
}
button#stopBtn{
    background-color: rgb(237, 92, 100);
}
button:hover#stopBtn{
    background-color: rgb(243, 11, 50);
}
button#resetBtn{
    background-color: rgb(55, 51, 51);
}
button:hover#resetBtn{
    background-color: rgb(156, 152, 152);
}

#display{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}